In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('output_datetime_info.csv')

In [4]:
data

       image_id   date_time_original        modified_date          time_delta
0   27653319031  2016-05-24 08:43:59  2016-06-17 08:30:16   23 days, 23:46:17
1   22697429926  2015-10-28 06:58:48  2015-11-03 10:05:15     6 days, 3:06:27
2    6650348617                  NaN                  NaN                 NaN
3   12337695235  2013-07-13 01:12:58  2014-02-06 18:52:24  208 days, 17:39:26
4    8432503596  2013-01-26 07:59:13  2013-01-31 21:08:24    5 days, 13:09:11
..          ...                  ...                  ...                 ...
94   5356186293                  NaN                  NaN                 NaN
95   3833385282                  NaN                  NaN                 NaN
96   8813969257  2013-01-26 08:01:49  2013-05-25 23:30:32  119 days, 15:28:43
97  14364321954  2014-05-30 23:53:55  2014-06-07 22:27:43    7 days, 22:33:48
98  16527303765  2015-02-01 17:10:39  2015-02-14 13:58:33   12 days, 20:47:54

[99 rows x 4 columns]

In [5]:
edit_time = data['time_delta']

In [6]:
edit_time

0      23 days, 23:46:17
1        6 days, 3:06:27
2                    NaN
3     208 days, 17:39:26
4       5 days, 13:09:11
             ...
94                   NaN
95                   NaN
96    119 days, 15:28:43
97      7 days, 22:33:48
98     12 days, 20:47:54
Name: time_delta, Length: 99, dtype: object